@import url(__iframe/video__iframe.css);

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 40px 0;
  border: 4px dashed #0000ff;
  box-sizing: border-box;
  background-color: #444;
}
