@import url(__arrow/header__arrow.css);
@import url(__circle/header__circle.css);
@import url(__rect/header__rect.css);
@import url(__text/header__text.css);
@import url(__title/header__title.css);

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-right: 40px;
  min-height: 80vh;
  color: #fff;
  background-color: #1e1e1e;
}
