@import url(__content/card__content.css);
@import url(__image/card__image.css);
@import url(__text/card__text.css);
@import url(__title/card__title.css);

.card {
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
